.team-part {
  width: 100%;
  min-height: 500px;
  margin-bottom: 140px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .team-container {
    width: 100%;
    max-width: 1170px;
    padding: 0 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .team-items-grid {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 29px;

      margin-bottom: 50px;

      .team-item {
        padding: 20px;

        background-color: var(--background-secondary);
        border-radius: 10px;
        overflow-x: auto;

        .team-item-container {
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 20px;

          overflow-x: auto;

          .team-item-img {
            width: 70px;
            height: 70px;
            margin: auto;

            border-radius: 50px;
          }

          .team-item-heading {
            display: flex;
            flex-direction: column;

            height: 26px;

            white-space: nowrap;
            text-align: center;
          }

          .team-item-details {
            display: flex;
            flex-direction: column;
            gap: 5px;

            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .team-part {
    .team-container {
      padding: 0 32px;

      .team-items-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .team-part {
    .team-container {
      padding: 0 16px;

      .team-items-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }
  }
}
