.standard-width {
  width: 100px;
}

.great-width {
  width: 120px;
}

.button {
  height: 34px;
  border-radius: 80px;
  background-color: var(--color-yellow-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;

  &:not(.disabled):hover {
    background-color: var(--color-yellow-additional);
  }
}

.disabled {
  outline: none;
  border: none;
  cursor: not-allowed;
  background-color: var(--color-disabled);
}

.apply-form-button {
  margin-top: 51px;
}
