@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --background-primary: #f8f8f8;
  --background-secondary: #ffffff;
  --color-primary: #202020;
  --color-additional: #7e7e7e;
  --color-transparent: #d0cfcf;
  --color-selected: #00bdd3;
  --color-yellow-primary: #f4e041;
  --color-yellow-additional: #ffe302;
  --color-disabled: #b4b4b4;
  --color-warning: #cb3d40;
  --color-black: #000000;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.b-87 {
  color: #000 !important;
  opacity: 0.87 !important;
}

.text-heading {
  font-size: 40px;
  line-height: 40px;
}

.text-body {
  font-size: 16px;
  line-height: 26px;
}

.text-center {
  text-align: center;
}

.section-heading {
  width: 75%;
  margin-bottom: 50px;
}

body {
  background-color: var(--background-primary);
}
